.links {
  display: flex;
  gap: 1rem;
  font-size: 14px;
}
.card {
  background-color: #7fad39;
  border: none;
  width: 6.8rem;
  height: 2.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.car {
  font-size: 1.5rem;
}
.select {
  background-color: #7fad39;
  border: none;
  color: white;
}
