.links {
  display: flex;
  gap: 0.6rem;
  font-size: 13px;
}
.card {
  background-color: #7fad39;
  border: none;
  width: 5.5rem;
  height: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border-radius: 2px;
}
.car {
  font-size: 1.2rem;
}
.select {
  background-color: #7fad39;
  border: none;
  color: white;
  font-size: 10px;
}
