.input {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.input > input {
  padding: 0.4rem;
  border: none;
  color: #999999;
  opacity: 0.7;
  background-color: #f7f7f7;
  padding-left: 2rem;
  width: 100%;
}
.icon2 {
  opacity: 0.5;
  position: absolute;
  z-index: 100;
  left: 0;
  margin-left: 0.5rem;
}
.searchBar {
  position: fixed;
  inset: 0;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.icon {
  font-size: 1.8rem;
}
.selecttion {
  border: none;
  width: 100%;
  display: block;
}
.locationIcon {
  font-size: 1.1rem;
}
.select {
  border: none;
  width: 100%;
  display: block;
}
.userIcon {
  opacity: 0.7;
}

.selectBox {
  width: 100%;
}
.number > p {
  background-color: rgb(11, 163, 11);
  border-radius: 50%;
  border: 1px solid white;
  width: 11px;
  height: 11px;
  font-size: 8px;
  color: white;
  position: absolute;
  z-index: 45;
  right: 0;
  top: 0;
  text-align: center;
}
.icons {
  position: relative;
}
.hearth {
  font-size: 1.8rem;
}
